doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Account - Chain
    link(rel="stylesheet" href="/stylesheets/account.css")
    script(src="/javascripts/login.js")
  body
    .login-container
      .login-box
        h1 Account
        form(action="/account/updateAccount" method="POST")
          .input-group
            label(for="newUsername") Username 
            input(type="text" id="newUsername" name="newUsername" placeholder="Enter your new username" value=newUsername required)
          .input-group
            label(for="email") Email
            input(type="email" id="email" name="email" placeholder="Enter your new email" value=email required)
          .input-group
            label(for="password") Password
            input(type="password" id="password" name="password" placeholder="Enter your new password" required)
          if message
            p.message= message
          button.login-button(type="submit") Update Account
        form(action="/account/logout" method="POST")
          button.logout-button(type="submit") Logout
