doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Chain
    link(rel="stylesheet" href="/stylesheets/index.css")
  body
    .app
      .dm-sidebar
        .dm-header
          span Direct Messages
          .add-dm +
        .dm-list
          each dm in dmList
            .dm-item
              .avatar
                img(src="https://via.placeholder.com/40" alt="User Avatar")
              .dm-info
                .dm-name= dm.name
                if dm.members
                  .dm-members= dm.members
      .main-content
        .message-list
          each message in messsageList
            .message-item
              .avatar
                img(src="https://via.placeholder.com/40" alt="User Avatar")
              .message-info
                .message-username= message.username
                .message-message= message.message
        .message-input
          input(type="text" placeholder="Type a message...")
          button.send-button Send
